// ConfirmationMessage.scss
// ConfirmationMessage.scss
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  // Couleur sombre avec une opacité de 0.7
  z-index: 999;  // Assurez-vous que l'overlay est au-dessus de tout le reste
}

.confirmation-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  max-width: 300px;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
}

.confirmation-message.visible {
  opacity: 1;
}

.confirmation-message.hidden {
  opacity: 0;
}

// Add more styling as needed
